.mainpageframe-footer {
    align-self: stretch;
    background-color: var(--color-gray);
    flex-direction: row;
    padding: 44px var(--padding-18xl) 45px;
    box-sizing: border-box;
    gap: 80px;
    max-width: 100%;
    z-index: 1;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
    font-family: var(--font-red-rose);
  }
  .mainpageframe-child2 {
    height: 126px;
    width: 1728px;
    position: relative;
    background-color: var(--color-gray);
    display: none;
    max-width: 100%;
  }
  .mainpagetech-inc {
    position: relative;
    z-index: 2;
  }
  .mainpageterms {
    min-width: 94px;
  }
    .mainpageprivacy-updated-042024 {
    max-width: 100%;
  }