.logintaskpage-child {
    width: 1480px;
    height: 950px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-whitesmoke);
    display: none;
    max-width: 100%;
  }
  .loginlogin,
  .loginwelcome-to-my {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .loginwelcome-to-my {
    margin: 0;
    align-self: stretch;
    height: 75px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .loginlogin {
    min-width: 82px;
  }
  .loginsign-up {
    text-decoration: underline;
  }
  .loginno-account-container {
    position: relative;
    font-size: var(--font-size-6xl);
    font-weight: 600;
    font-family: var(--font-inter);
    z-index: 1;
  }
  .loginlogin-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .loginframe-wrapper {
    flex-direction: row;
    padding: 0 58px;
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
  }
  .loginframe-child,
  .loginframe-item,
  .loginframe-wrapper,
  .loginwelcome-to-my-chat-app-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .loginwelcome-to-my-chat-app-parent {
    width: 798px;
    flex-direction: column;
    gap: var(--gap-4xl);
  }
  .loginframe-child,
  .loginframe-item {
    width: 726px;
    border: 0;
    outline: 0;
    background-color: var(--color-lightgray);
    height: 59px;
    border-radius: var(--br-8xs);
    flex-direction: row;
    padding: var(--padding-sm) var(--padding-xl) var(--padding-mini);
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-size: var(--font-size-6xl);
    color: var(--color-darkslategray-100);
    z-index: 1;
  }
  .logingoogle-sign-in-button {
    height: 183px;
    width: 279px;
    position: relative;
    background-color: #2f8396;
    filter: blur(400px);
    min-width: 279px;
    z-index: 1;
  }
  .loginframe-inner {
    height: 59px;
    width: 726px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray-100);
    display: none;
    max-width: 100%;
  }
  .loginlogin1 {
    position: relative;
    font-size: var(--font-size-11xl);
    font-family: var(--font-red-rose);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 80px;
    z-index: 2;
  }
  .loginrectangle-parent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-xl);
    background-color: var(--color-darkslategray-100);
    align-self: stretch;
    border-radius: var(--br-8xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
  }
  .loginrectangle-parent:hover {
    background-color: #335c63;
  }
  .loginor {
    position: relative;
    font-size: var(--font-size-11xl);
    display: inline-block;
    font-family: var(--font-red-rose);
    color: var(--color-darkslategray-100);
    text-align: left;
    min-width: 45px;
    z-index: 1;
  }
  .loginor-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 21px;
  }
  .loginrectangle-div {
    height: 59px;
    width: 726px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray-100);
    display: none;
    max-width: 100%;
  }
  .loginflat-color-iconsgoogle {
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
  }
  .loginflat-color-iconsgoogle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1px 0 0;
  }
  .loginsign-in-with {
    position: relative;
    font-size: var(--font-size-11xl);
    font-family: var(--font-red-rose);
    color: var(--color-white);
    text-align: left;
    z-index: 2;
  }
  .logindivider,
  .loginframe-group,
  .loginrectangle-group {
    margin: auto;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .loginrectangle-group {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-149xl);
    background-color: var(--color-darkslategray-100);
    align-self: stretch;
    border-radius: var(--br-8xs);
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    gap: 16px;
    z-index: 1;
  }
  .logindivider,
  .loginframe-group {
    flex-direction: column;
  }
  .loginframe-group {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-4xl);
  }
  .logindivider {
    flex: 1;
    justify-content: flex-end;
    padding: 0 0 33px;
    box-sizing: border-box;
    min-width: 472px;
  }
  .loginframe-parent,
  .logingoogle-sign-in-button-parent {
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-start; */
    max-width: auto;
    margin-right: 3%;
    /* justify-content: center; */
  }
  .logingoogle-sign-in-button-parent {
    flex-direction: row;
    row-gap: 20px;
  }
  .loginframe-parent {
    margin: 0;
    flex: 1;
    flex-direction: column;
    gap: var(--gap-4xl);
  }
  .logintaskpage,
  .logintaskpage-inner {
    display: flex;
    box-sizing: border-box;
  }
  .logintaskpage-inner {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 36px 0 0;
    max-width: 100%;
  }
  .logintaskpage {
    width: 100%;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-whitesmoke);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 87px 336px 231px 103px;
    gap: 68px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 60px;
    color: var(--color-darkslategray-100);
    font-family: var(--font-red-rose);
  }
  @media screen and (max-width: 1275px) {
    .logingoogle-sign-in-button {
      flex: 1;
    }
    .logingoogle-sign-in-button-parent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1100px) {
    .loginrectangle-group {
      flex-wrap: wrap;
      justify-content: center;
    }
    .logindivider {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .loginwelcome-to-my {
      font-size: 48px;
    }
    .loginlogin,
    .loginlogin1,
    .loginor,
    .loginsign-in-with {
      font-size: var(--font-size-5xl);
    }
    .logintaskpage {
      gap: 34px;
      padding-left: 51px;
      padding-right: var(--padding-149xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .loginwelcome-to-my {
      font-size: 36px;
    }
    .loginlogin {
      font-size: var(--font-size-lg);
    }
    .loginno-account-container {
      font-size: 20px;
    }
    .loginframe-wrapper {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .loginlogin1,
    .loginor,
    .loginsign-in-with {
      font-size: var(--font-size-lg);
    }
    .loginrectangle-group,
    .logintaskpage {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .logintaskpage {
      gap: 17px;
    }
  }
  