.mainpagelets-create-a {
    margin: 0;
    width: 955px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    background: linear-gradient(
    90.32deg,
    #fff 4.29%,
    #999 24.4%,
    rgba(197, 81, 185, 0.71) 54.4%,
    rgba(46, 53, 218, 0.57) 74.9%
  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }